.members {
  & .screen__table,
  & .screen__table-rows {
    border: none;
  }
  &__tile {
    //   position: relative;
    //   border: 1px solid #707070;
    //   border-radius: 15px;
    //   padding: 15px 20px;
    //   cursor: pointer;
    margin-bottom: 20px;
  }
  &__label {
    position: relative;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__controller {
    display: none;
  }
  &__alert--icon {
    opacity: 0;
    width: 30px;
    height: 30px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &__alert {
    & &--icon {
      opacity: 1;
    }
  }
  &__assets {
    display: none;
    flex-direction: column;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-radius: 15px;
  }
  &__asset {
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
    &--icon {
      width: 30px;
      height: 30px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__item {
    &--alert {
      color: #dc484e;
    }
  }
  &__button {
    background-color: #2699fb;
    border: 1px solid #2699fb;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  &__button.disabled {
    opacity: 0;
    cursor: default;
  }
  &__infos {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon {
    background-image: url("../../images/plus@2x.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
  }
  &__controller:checked + &__label &__icon {
    background-image: url("../../images/minus@2x.png");
  }
  &__controller:checked ~ &__assets {
    display: block;
  }
}
