.vouchers {
  & .screen__search-bar {
    justify-content: space-between;
  }
  &__text.positive {
    color: #5ad998;
  }
  &__text.negative {
    color: #dc484e;
  }
  &__text.negative--em {
    font-weight: 600;
  }
  & .screen__table-header:nth-child(1),
  &__text.screen__table-item:nth-child(1) {
    width: 100px;
    min-width: 100px;
  }
  & .screen__table-header:nth-child(3),
  &__text.screen__table-item:nth-child(3),
  & .screen__table-header:nth-child(4),
  &__text.screen__table-item:nth-child(4) {
    width: 120px;
    min-width: 120px;
  }
  & .screen__table-header:nth-child(5),
  &__text.screen__table-item:nth-child(5),
  & .screen__table-header:nth-child(6),
  &__text.screen__table-item:nth-child(6),
  & .screen__table-header:nth-child(7),
  &__text.screen__table-item:nth-child(7),
  & .screen__table-header:nth-child(8),
  &__text.screen__table-item:nth-child(8),
  & .screen__table-header:nth-child(9),
  &__text.screen__table-item:nth-child(9),
  & .screen__table-header:nth-child(10),
  &__text.screen__table-item:nth-child(10) {
    width: 135px;
    min-width: 135px;
  }
  & .screen__table-header:nth-child(2) {
    width: 180px;
    min-width: 180px;
  }
  &__text.screen__table-item:nth-child(2) {
    width: 180px;
    min-width: 180px;
    flex-direction: column;
    align-items: flex-start;
  }
  & .admin-dropdown__label {
    justify-content: start;
  }
  & .admin-dropdown__options {
    top: 40px;
    max-height: 400px;
    overflow: auto;
  }
  & .screen__table {
    min-height: 520px;
  }
  & .screen__table--values {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  & .main-chart__chart {
    margin-bottom: 10px;
    &--title {
      font-size: 20px;
      color: 767676
    }
    &--chart{
      height: 340px;
      border: 1px solid #707070;
    }
  }
}
