.vouchers {
  & .screen__search-bar {
    justify-content: space-between;
  }
  &__text.positive {
    color: #5ad998;
  }
  &__text.negative {
    color: #dc484e;
  }
  &__text.negative--em {
    font-weight: 600;
  }
  & .screen__table-header:nth-child(1),
  &__text.screen__table-item:nth-child(1) {
    width: 100px;
    min-width: 100px;
  }

  & .admin-dropdown__label {
    justify-content: start;
  }
  & .admin-dropdown__options {
    top: 40px;
    max-height: 400px;
    overflow: auto;
  }
  // & .screen__table {
  // min-height: 520px;
  // }
  & .screen__table--values {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  & .main-chart__chart {
    height: 370px;
    margin-bottom: 10px;
    &--title {
      font-size: 20px;
      color: 767676;
    }
    &--chart {
      height: 340px;
      border: 1px solid #707070;
    }
  }
}
