.user-info {
  position: absolute;
  top: 70px;
  right: 10px;
  display: flex;
  height: 38px;

  &__accounts {
    display: flex;
    align-self: center;
    &--dropdown {
      display: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: white;
      border: 1px solid #333333;
      box-shadow: 0px 0px 8px #3333;
    }
    &--label {
      text-align: end;
    }
  }
  &__accounts {
    &--dropdown.open {
      display: block;
    }
  }
  &__navs {
    display: flex;
    flex-direction: column;
    align-self: center;
    &--dropdown {
      display: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: white;
      border: 1px solid #333333;
      box-shadow: 0px 0px 8px #3333;
    }
    &--label {
      text-align: end;
    }
  }
  &__navs {
    &--dropdown.open {
      display: block;
    }
  }
  &__navs > li > a {
    display: block;
    padding: 3px 10px;
    color: #ccc;
  }
  &__navs > li > a:hover {
    color: #000;
  }
  &__navs > li > a > i.fa {
    font-size: 14px;
  }
}
