.admin-header {
    position: fixed;
    width: 100vw;
    top: 0;
  
    padding: 12px 30px;
    background-color: teal;
    color: white;
  
    display: flex;
    align-items: center;
    z-index: 100;
    &__logo-box {
      margin-right: 60px;
    }
    &__button-box {
      display: flex;
      gap: 10px;
    }
    &__button{
      padding: 10px;
    }
    &__button.active{
      border-bottom: 1px solid #fff;
    }
    &__hamburger{
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &div{
        background-color: #fff;
        height: 2px;
        width: 100%;
        transition: rotate;
      }
    }
    &__hamburger.active{
      &div:nth-child(1){
        transform: translate(-50%,-50%) rotate(45);
      }
      &div:nth-child(2){
        opacity: 0;
      }
      &div:nth-child(3){
        transform: translate(-50%,-50%) rotate(-45);
      }
    }
  }
  